footer {
  background-color: $color-Azul-Base;
  color: $color-blanco-Base;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 30 px;
}
