$color-Azul-Base: #1a237e;
$color-verde-Base: #4caf50;
$color-verde-hover: #45a049;
$color-verde-resaltador: #b5ffba;
$color-blanco-Base: #fff;
$color-blanco-t1: #f0f8ff;
$color-blanco-t2: #f2f2f2;
$color-gris-t1: #ccc;
$color-gris-t2: #ddd;
$color-gris-oscuro: #333;
$color-btn-celeste: #6e93b5;
$color-btn-celeste-hover: #58798f;
